#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#home-text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;

  input.ng-invalid.error-state {
    border-color: red;
  }
}

#error-message {
  color: red;
  margin-top: 2rem;
}
