@font-face {
  font-family: PTSerif;
  src: url('/src/assets/Font/PTSerif/PTSerif-Regular.ttf');
}

html {
  --text-color: #ffffff;
  --background-color: #181818;
  --primary-color: #2bff00;
  --secondary-color: #eeff00;
  font-family: PTSerif;
}

html[color-theme='light'] {
  --text-color: #000000;
  --background-color: #ffffff;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}

button {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #c0c0c0;
  border: none;
}

button:hover {
  background-color: #858585;
  cursor: pointer;
}

input {
  padding: 5px 5px;
  font-size: 1.5rem;
}