html{
    --text-color: #ffffff;
    --background-color: #000000;
    --primary-color: #2bff00;
    --secondary-color: #eeff00;
}

html[color-theme='light']{
    --text-color: #000000;
    --background-color: #ffffff;
}

body{
    color: var(--text-color);
    background-color: var(--background-color);
}